body, html {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100vh;
}

.footer {
	filter: drop-shadow(2px 2px 2px rgba(0,0,0,100));
    color: gray;
    text-align: center;
    padding: 20px;
}


